__pycache__/
*.py[cod]
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
*.egg-info/
.vscode/
.*.swp
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
junit*.xml
*.cover
MANIFEST
.installed.cfg
*.egg
*.manifest
*.spec
*.log
*.con
*.out
env.sh
*-env.sh
